{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="form-inline" method="post" >
     {% csrf_token %}
   	 {{form|crispy}} 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul>  
    {% for todo in todos %}
    <li> 
    {{todo.title}} - {{todo.completed}} 
        <a class="btn btn-info" href=" {% url 'update-todo' todo.id %} ">Update</a> 
        <a class="btn btn-danger" href=" {% url 'delete-todo' todo.id %} ">Delete</a> 
    </li>
    {% endfor %}
</ul>
{% endblock content %}


